* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    font-size: 14px;
    font-family: 'muli', italic;
    color: #626262;
}

a {
    color: dodgerblue;
}

a:hover {
    color: #898377;
}

img {
    max-width: 100%;
    height: auto;
}

/*------Header------*/

header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

header .nav-item {
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

header .active a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #03a9f4;
    height: 2px;
    transform: scale(1);
}

.header-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 100vh;
    padding-bottom: 70px;
}

.header-subtitle {
    font-size: 22px;
    padding-bottom: 20px
}

.header-fixed {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px grey;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.header-fixed .nav-link,
.header-fixed .navbarBrand {
    color: rgba(0, 0, 0, 0.5) !important;
}

.header-fixed .navbarBrand:hover {
    color: rgba(0, 0, 0, 0.5) !important;
}

.header-fixed .navbar-toggler-icon {
    background-image: url(../images/menu2.png) !important;

}

.header-fixed .navbar-toggler {
    border-color: rgba(0, 0, 0, 0.5) !important;
}

/*-----Navigation------*/

#navBar a {
    color: rgba(255, 255, 255, 0.8);
}

.navbarBrand {
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}

.navbarBrand:hover {
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.8) !important;
}

.navbar-toggler-icon {
    background-image: url(../images/menu1.png) !important;
    opacity: 0.5;
}

.navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5) !important;
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar-light .navbar-toggler:hover {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1)
}

.nav-link:hover {
    color: rgba(68, 162, 219, 1) !important;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.align-holder {
    padding-top: 160px;
    color: white;
}

/*-----Top-----*/


.greeting {
    background-image: url(../images/it1.jpg);
    min-height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.button-cv {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.3);
    width: 185px;
    display: block;
    text-align: center;
    height: 45px;
    border-radius: 20px;
    padding-top: 8px;
    border: 3px solid rgba(255, 255, 255, 0.8);
    font-weight: bold;
}

.button-cv:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2)
}

.round-images {
    display: -ms-flexbox;
    display: flex;
}


.content {
    text-align: center;

}

.content-logo img {
    width: 50px;
    margin-top: 27px
}

.content-logo {
    width: 110px;
    height: 110px;
    margin-top: -55px;
    border-radius: 60px;
    box-shadow: 0 0 20px black;
    background-color: rgba(68, 162, 219, 1);
    margin-left: auto;
    margin-right: auto;

}

.content h5 {
    font-size: 14px;
    font-family: 'muli', italic;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 90px;

}

.midle-image {
    margin: 0 -60px;
    z-index: 1;
}

/*------About me------*/

#target {
    background-color: #f5fafd;
    padding-bottom: 40px;
}


#target img {
    border-radius: 10px;
}

.about-me {
    padding-top: 25px;
}

.row-padding {
    padding: 0 65px;
}

.card-block {
    max-width: 500px;
    margin: 0 auto;
}


.card-img-block {
    padding-right: 10px;
    text-align: center;
}

.card-img-block img {
    max-width: 100px;
}

.color-tittle {
    color: white;
}

.card-title-color {
    color: #ff9800;
    margin-top: 25px;
}


.col-shadow:hover {

    box-shadow: 3px 5px 10px #c9c9cd;
    transform: translate(-2px, -2px);
}

.col-shadow {
    transition: all 0.1s;
    border: 1px solid #c9c9cd;
    margin-bottom: 30px;
    padding: 10px;
}


.title-styles {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}


/*-------Portfolio------*/


.card {
    margin-bottom: 50px !important;
}

.card-img {
    background-color: black;
    overflow: hidden;
}

.card-img img {
    opacity: 0.85;
}

.card-img-top {
    transition: all 0.5s;
}

.card-img-top:hover {
    transform: scale(1.1, 1.1);
}

.post-category {
    font-family: 'muli', italic;
    font-size: 14px;
    color: cornflowerblue;
    text-transform: uppercase;
    font-weight: 600;
}

.post-title a {
    color: #626262;
    font-size: 26px;
}

.post-image-block {
    text-align: center;
}

.post-image {
    max-width: 650px;
}

.container-bottom {
    margin-bottom: 40px;
}


grid-posts {
    margin-top: 100px;
    margin-bottom: 100px;
}

.grid-posts .card {
    border: 0;
    margin-bottom: 100px;
}

.grid-posts .card-body {
    padding-left: 0;
    padding-right: 0;
}

.grid-posts .card-img-top {
    border-radius: 0;
}

/*-----Contacts-----*/

#contacts {

    background-image: url(../images/it1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.contacts {
    margin-bottom: 50px;
    padding-left: 10px;
}

a.contacts {
    color: rgba(68, 162, 219, 1);
}

a.contacts:hover {
    color: rgba(255, 255, 255, 0.7);
}

/*------Footer-----*/

footer {
    background-color: #fff;
    padding: 5px 0;
    color: grey;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    text-align: center;
}

.footer-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 80vh;
}

.footer-tittle {
    margin-top: 140px;
    margin-bottom: 70px;
}


.footer-image {
    margin: 5px;
    padding: 5px;
    width: 40px;
    background-color: rgba(68, 162, 219, 0.7);
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px #000000;
}


.footer-image:hover {
    background-color: rgba(68, 162, 219, 0.4);

}


/*-------Media-------*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}



@media only screen and (max-width: 1199px) {

    .grid-posts .card-img-top {
        max-height: 300px;
    }

    .row-padding {
        padding: 0 0;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}

@media only screen and (max-width : 991px) {


    nav {
        text-align: center;
        width: 100%;
        float: none;
        background-color: rgba(255, 255, 255, 0.1);

    }

    nav .nav-item {
        width: 100px;
        margin-left: auto !important;
        margin-right: 60px !important;

    }

    .grid-posts .card-img-top {
        max-height: 220px;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .grid-posts {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .grid-posts .card {
        margin-bottom: 50px;
    }

    .grid-posts .card-img-top {
        max-height: 100%;
    }


    .bottom {
        margin-bottom: 15px;
    }


    .about-me {
        text-align: center;

    }

    .card {
        margin-bottom: 0px !important;
    }
}

@media only screen and (max-width : 575px) {
    .footer-left {
        margin-bottom: 10px;
    }

    .content-logo {
        margin-top: 0px;
    }

    .round-images {
        display: block;
        margin-top: 70px;
    }

    .about-me h2 {
        font-size: 25px;
    }


    .midle-image {
        margin: 0 -45px;
    }

    .card-text-block {
        text-align: center;
        margin-top: 0px;
    }

    .card-title-color {
        margin-top: 5px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 360px) {

    .align-holder h1 {
        font-size: 35px;
    }

    .midle-image {
        margin: 0 -35px;
    }

    .title-styles {
        font-size: 27px !important;
    }

}
